#root{display:flex;}

.ligne, .colonne {display:flex;}

.app, body {
    margin:0;
    background-color: #121212;
    color:#C8C8C8;
}

.ligne {
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content:center;
    min-height: 0;
}
.colonne {
    flex-direction: column;
    align-items: flex-start;
    height:100%;
    width:100%;
    min-width: 0;
    justify-content: center;
}

input {
    background-color: #222222;
    color:white;
    width:80%;
    border-radius: 8px;
    height:30px;
    border:1px solid black;
    padding:5px;
    font-size: 20px;
}

input::placeholder{
    color:#B5B5B5;
}

.colonne.is-2-colonne {width:200%;}
.colonne.is-3-colonne {width:300%;}
.colonne.is-4-colonne {width:400%;}
.colonne.is-5-colonne {width:500%;}

.content-centered {
    display:flex;
    align-items: center;
}

.btn{
    border-radius: 8px;
    border: 1px solid gray;
    padding:5px;
    cursor: pointer;
}
.btn.is-gray {
    background-color: #828282;
}

.is-self-start {
    align-self: flex-start;
}
.colonne.is-flex-right {
    align-items: flex-end;
}
